* {
  border: none;
}
body, html {
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
::root {
  --btn-color: #fff;
  --btn-bg: #0077ff;
  --text-color: #000;
  --main-bg-color: #fff;
}
#root {
  height: 100vh;
  width: 100vw;
background: rgba(255, 201, 201, 0.22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
}

.navigation-container {
  flex: 1;
}

.route-container {
  flex: 4;
}
