
* {
  border: none;
  background-color: transparent;
}
html {
  height: 100%;
  width: 100%;

  background-color: transparent;
}

body {
  color: #fff;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
  background-color: rgba(16, 18, 27, 0.4); /* or var(--bg-dark) */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari compatibility */
}
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navigation-container {
  flex: 1;
}

.route-container {
  flex: 4;
}
