* {
  border: none;
}

body, html {
  background: transparent;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


#root {
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.6);
}

.navigation-container {
  flex: 1;
}

.route-container {
  flex: 4;
}
